*{
	margin:0;
	padding:0;
	list-style: none;
}
li{
	border:0 none;
}
body{
	font-size:12px;
	color:#666;
}
a{
	text-decoration: none;
	color:#666;
}
a:hover{
	color: #c81623;
}
img{
	border:0;
}
/*头部开始*/
.head{
	width:100%;
}
.head1{
	width:100%;
	height:30px;
	background: #F1F1F1;
}
.head .head_top{
	width:1210px;
	height:100%;
	margin:0 auto;
}
.head .head_top .head_top_ul{
	width:auto;
	height:30px;
	padding:0 2px;
	position:relative;
	float:left;
}
.head .head_top .head_top_ul li{
	width:78px;
	height:30px;
	padding:0 10px;
	border:1px solid transparent;
}
.head .head_top .head_top_ul li:hover{
	background: #fff;
	border-color:#ccc;
}
.head .head_top .head_top_ul li:hover .city0{
	display: block;
}
.head .head_top .head_top_ul .city{
	width:78px;
	height:30px;
	line-height: 30px;
	position: relative;
}
.head .head_top .head_top_ul .city .s1{
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#666;
	position:absolute;
	top:11px;
	left:65px;
}
.head .head_top .head_top_ul .city .s2{
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#F1F1F1;
	position: absolute;
	left:65px;
	top:9px;
}
.head .head_top .head_top_ul .city:hover .s2{
	border-top-color:#fff;
}
.head .head_top .head_top_ul .city0{
	width:301px;
	height:224px;
	position:absolute;
	top:29px;
	left:2px;
	background: #fff;
	border:1px solid #ccc;
	padding:10px 0 10px 10px;
	display: none;
	z-index: 1;
}
.head .head_top .head_top_ul .city0 .city1{
	width:60px;
	height:28px;
	float: left;
}
.head .head_top .head_top_ul .city0 .city1 a{
	display: block;
	width:60px;
	height:28px;
	line-height: 28px;
	text-align: center;
}
.head .head_top .head_top_ul .city0 .city1 a:hover{
	background: #c81623;
	color:#fff;
}
.head .head_top .head_top_ul1{
	float:right;
}
.head .head_top .head_top_ul1 li{
	float:left;
	padding:0 8px;
	position: relative;
	line-height: 30px;
}
.head .head_top .head_top_ul1 li a:hover{
	color: #C81623;
}
.head .head_top .head_top_ul1 .li{
	color:#ccc;
	padding:0 1px;
}
.head .head_top .head_top_ul1 li .myjd{
	width:280px;
	height:191px;
	border:1px solid #ccc;
	background: #fff;
	position: absolute;
	top:29px;
	left:-1px;
	display: none;
}
.head .head_top .head_top_ul1 li .myjd .dl{
	width:auto;
	height:60px;
	margin-left: 20px;
	margin-top: 10px;
}
.head .head_top .head_top_ul1 li .myjd .dl p{
	display: inline-block;
}
.head .head_top .head_top_ul1 li .myjd .dl a{
	display: block;
	height:24px;
	float:left;
}
.head .head_top .head_top_ul1 .li1{
	width:58px;
	height:28px;
	border:1px solid transparent;
}
.head .head_top .head_top_ul1 .li1:hover{
	background: #fff;
	height:28px;
	width:58px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
.head .head_top .head_top_ul1 li .myjd .dl img{
	width:60px;
	height:60px;
	border-radius: 50%;
}
.head .head_top .head_top_ul1 li .myjd .dl .dl1{
	margin-left: 60px;
}
.head .head_top .head_top_ul1 li .myjd .dl ul li{
	margin-right: 20px;
}
.head .head_top .head_top_ul1 li .myjd .dl ul .wdjd{
	margin-left:11px;
}
.head .head_top .head_top_ul1 .li1 .s1{
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#666;
	position:absolute;
	top:11px;
	left:60px;
}
.head .head_top .head_top_ul1 .li1 .s2{
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#F1F1F1;
	position: absolute;
	left:60px;
	top:9px;
}
.head .head_top .head_top_ul1 .li1:hover .s2{
	border-top-color: #fff;
}
.head .head_top .head_top_ul1 .li2{
	width:78px;
	height:28px;
	border:1px solid transparent;
}
.head .head_top .head_top_ul1 .li2:hover{
	background: #fff;
	height:28px;
	width:78px;
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #fff;
}
.head .head_top .head_top_ul1 .li2 .li3{
	width:15px;
	height:20px;
	margin-top: 5px;
	float:left;
	background: url(../images/1.png) no-repeat 0 0;
}
.head .head_top .head_top_ul1 .li2 .s1{
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#666;
	position:absolute;
	top:11px;
	left:75px;
}
.head .head_top .head_top_ul1 .li2 .s2{
	width:0;
	height:0;
	border:5px solid transparent;
	border-top-color:#F1F1F1;
	position: absolute;
	left:75px;
	top:9px;
}
.head .head_top .head_top_ul1 .li2:hover .li3{
	background-position: 0 -25px;
}
.head .head_top .head_top_ul1 .li2 .sjjd{
	width:250px;
	height:195px;
	background: #fff;
	border:1px solid #ccc;
	position: absolute;
	top:29px;
	left:0;
	background: url(../images/67.png);
	display: none;
}
.head .head_top .head_top_ul1 .li1 .gzjd{
	width:82px;
	height:97px;
	border:1px solid #ccc;
	position: absolute;
	top:29px;
	left:0;
	background: url(../images/3.jpg);
	display: none;
}
.head .head_top .head_top_ul1 .li1 .khfw{
	width:170px;
	height:155px;
	background: #fff;
	position: absolute;
	top:29px;
	left:0;
	border:1px solid #ccc;
	display: none;
}
.head .head_top .head_top_ul1 .li1:hover .head_xxk{
	display: block;
}
.head .head_top .head_top_ul1 .li1 .head_xxk{
	z-index: 5;
}
.head .head_top .head_top_ul1 .li1 .khfw .khfw1{
	width:100%;
	border-bottom: 1px dashed #ccc;
	line-height: 24px;
}
.head .head_top .head_top_ul1 .li1 .khfw h4{
	margin-left: 10px;
}
.head .head_top .head_top_ul1 .li1 .khfw a{
	margin-left: 10px;
}
.head .head_top .head_top_ul1 .li1 .khfw .khfw2{
	line-height: 24px;
}
.head .head_top .head_top_ul1 .li1 .wzdh{
	width:1210px;
	height:150px;
	padding:20px 0 16px;
	background: #fff;
	border:1px solid #ccc;
	position:absolute;
	top:29px;
	right:0;
	display: none;
}
.head .head_top .head_top_ul1 .li1 .wzdh div{
	float:left;
	padding-left:20px;
	line-height:24px;
}
.head .head_top .head_top_ul1 .li1 .wzdh div a{
	display: block;
	width:86px;
	height:24px;
	float:left;
}
.head .head_top .head_top_ul1 .li1 .wzdh .wzdh1{
	width:347px;
	height:150px;
	border-right: 1px solid #ccc;
}
.head .head_top .head_top_ul1 .li1 .wzdh .wzdh2{
	width:259px;
	height:150px;
	border-right: 1px solid #ccc;
}
.head .head_top .head_top_ul1 .li1 .wzdh .wzdh3{
	width:259px;
	height:150px;
	border-right: 1px solid #ccc;
}
.head .head_top .head_top_ul1 .li1 .wzdh .wzdh4{
	width:259px;
	height:150px;
}
.head .topimg{
	width:100%;
	height:120px;
	background: #F9159B;
	position: relative;
}
.head .topimg a{
	display: block;
	width:1210px;
	font-size: 0;
	margin:0 auto;
}
.head .topimg .shanchu{
	width:19px;
	height:19px;
	background: url(../images/91.png) no-repeat 0 0;
	position:absolute;
	top:3px;
	right:70px;
}
.head .topimg .shanchu:hover{
	background-position:0 -19px;
}
.head .logo{
	width:1210px;
	height:100px;
	margin:0 auto;
}
.head .logo .logo1{
	width:274px;
	height:51px;
	padding:24px 0;
	float:left;
}
.head .logo .search{
	width:540px;
	height:36px;
	margin-top: 30px;
	float:left;
	margin-left:50px;
}
.head .logo .search input{
	width:446px;
	height:24px;
	padding:4px;
	border:2px solid #B61D1D;
}
.head .logo .search .search1{
	width:82px;
	height:36px;
	background: #B61D1D;
	float:right;
	color:white;
	font-size: 16px;
	line-height: 36px;
	text-align: center;
}
.head .logo .gwc{
	width:139px;
	height:34px;
	background: #F9F9F9;
	border: 1px solid #ccc;
	line-height: 34px;
	margin-top:30px;
	margin-left:150px;
	float:left;
	position: relative;
	z-index: 55;
}
.head .logo .gwc .gwc1{
	width:25px;
	height:20px;
	float:left;
	margin-top: 8px;
	margin-left: 15px;
	background: url(../images/1.png) no-repeat 0 -90px;
}
.head .logo .gwc a:hover{
	color: #c81623;
}
.head .gwc .s1{
	width:0;
	height:0;
	border:5px solid transparent;
	border-left-color:#666;
	position:absolute;
	top:12px;
	left:105px;
}
.head .logo .gwc .s2{
	width:0;
	height:0;
	border:5px solid transparent;
	border-left-color:#F1F1F1;
	position: absolute;
	left:103px;
	top:12px;
}
.head .logo .gwc .gwc2{
	width:308px;
	height:69px;
	position: absolute;
	top:34px;
	background: #fff;
	right:0;
	border:1px solid #ccc;
	box-shadow: 0 3px 5px #ccc;
	line-height: 69px;
	display: none;
	z-index: 50;
}
.head .logo .gwc .gwc2 .gwc3{
	width:57px;
	height:49px;
	float:left;
	margin-left: 30px;
	margin-top: 10px;
	background: url(../images/68.png) no-repeat;
}
.head .logo .gwc:hover{
	box-shadow: 3px 3px 5px #ccc;
}
.head .logo .gwc:hover .gwc2{
	display: block;
}
.head .logo .wz{
	width:520px;
	height:20px;
	float: left;
	margin-left:50px;
	margin-top: 5px;
}
.head .logo .wz a{
	margin-right: 10px;
}
.head .logo .wz .wanzhuan{
	color:#c81623;
}
.main{
	width:100%;
	height:auto;
}
.main .fenlei{
	width:100%;
	height:44px;
	border-bottom:2px solid #B1191A;
}
.main .fenlei .fenlei1{
	width:1210px;
	height:44px;
	margin:0 auto;
}
.main .fenlei .fenlei1 .fenlei2{
	width:190px;
	height:44px;
	padding:0 10px;
	background: #B1191A;
	line-height: 44px;
	float: left;
}
.main .fenlei .fenlei1 .fenlei2 a{
	color: #fff;
	font-size: 16px;
}
.main .fenlei .fenlei1 .fenlei3 li{
	float:left;
	position: relative;
}
.main .fenlei .fenlei1 .fenlei3 li div{
	position: absolute;
	top:-10px;
	right:0;
}
.main .fenlei .fenlei1 .fenlei3 li a{
	display: block;
	height:44px;
	font-size: 16px;
	color:#333;
	line-height: 44px;
	padding: 0 20px;
}
.main .fenlei .fenlei1 .fenlei3 li a:hover{
	color:#c81623;
}
.main .fenlei .fenlei1 .fenlei4{
	width:100px;
	height:29px;
	float: left;
	margin-top: 6px;
	margin-left: 50px;
}
.main .banner{
	width:100%;
	height:613px;
	position: relative;
}
.main .banner .banner_dt{
	display: block;
	width:100%;
	font-size: 0;
	height:100%;
	background: url(../images/4.jpg) no-repeat center top;
}
.main .banner .list{
	width:210px;
	height:465px;
	background: #C81623;
	position: absolute;
	top:0;
	left:70px;
}
.main .banner .list .lists{
	width:100%;
	height:31px;
	line-height: 31px;
}
.main .banner .list .lists>a{
	padding-left: 10px;
	font-size: 14px;
	color:#fff;
}
.main .banner .list .lists>span{
	float:right;
	padding-right: 10px;
	font-size: 14px;
	color:#fff;
}
.main .banner .list .lists>.lists_xxk{
	width:960px;
	height:425px;
	padding:20px;
	position: absolute;
	top:0;
	left:210px;
	background: #fff;
	z-index: 50;
	display: none;
}
.main .banner .list .lists:hover .lists_xxk{
	display: block;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_t{
	width:710px;
	height:24px;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_t li{
	height:24px;
	line-height: 24px;
	float:left;
	background: #7c7171;
	color:#fff;
	margin-right: 10px;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_t li:hover{
	background: #c81623;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_t li:hover span{
	background: #b1191a;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_t .www{
	background: #c81623;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_t .www span{
	background: #b1191a;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_t li>a{
	color:#fff;
	padding:5px 5px;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_t li>span{
	float:right;
	width:24px;
	height:24px;
	background: #5c5251;
	line-height: 24px;
	text-align: center;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_b{
	width:700px;
	height:auto;
	margin-top: 10px;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_b li .eee{
	width:70px;
	height:24px;
	padding-right: 10px;
	float:left;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_b li .eee1{
	width:620px;
	border-bottom:1px solid #eee;
	padding-top: 8px;
	float:left;
	padding-bottom: 8px;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_b li .eee1 a{
	float: left;
	padding:0 8px;
	line-height: 24px;
	border-left: 1px solid #eee;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_r{
	width:168px;
	height:400px;
	position: absolute;
	top:20px;
	right:20px;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_r ul{
	width:168px;
	height:144px;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_r li{
	width:83px;
	height:35px;
	margin-left: 1px;
	margin-bottom: 1px;
	float:left;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_r li a{
	font-size: 0;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_r div{
	width:168px;
	height:270px;
	margin-top: 20px;
}
.main .banner .list .lists>.lists_xxk .lists_xxk_r div a{
	display: block;
	width:168px;
	height:134px;
	margin-top: 1px;
}
.main .banner .list .lists:hover{
	background: #fff;
}
.main .banner .list .lists:hover>a{
	color:#C81623;
}
.main .banner .banner1{
	width:730px;
	height:454px;
	float:left;
	position: absolute;
	top:10px;
	left:290px;
}
.main .banner .banner1 a{
	display: block;
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.main .banner .btn{
	width:100%;
	height:62px;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-31px;
	display: none;
	opacity: 0.7;
}
.main .banner .btn .btn_l{
	width:28px;
	height:100%;
	background: #ccc;
	position: relative;
	float:left;
	cursor: pointer;
}
.main .banner .btn .btn_r{
	width:28px;
	height:100%;
	background: #ccc;
	position: relative;
	float:right;
	cursor: pointer;
}
.main .banner .banner1 .btn .btn_l .s1{
	width:0px;
	height:0px;
	border:15px solid transparent;
	border-right-color:#666;
	position:absolute;
	top:17px;
	right:7px;
}
.main .banner .banner1 .btn .btn_l .s2{
	width:0;
	height:0;
	border:15px solid transparent;
	border-right-color:#ccc;
	position: absolute;
	right:2px;
	top:17px;
}
.main .banner .banner1 .btn .btn_r .s1{
	width:0;
	height:0;
	border:15px solid transparent;
	border-left-color:#666;
	position:absolute;
	top:17px;
	left:7px;
}
.main .banner .banner1 .btn .btn_r .s2{
	width:0;
	height:0;
	border:15px solid transparent;
	border-left-color:#ccc;
	position: absolute;
	left:2px;
	top:17px;
}
.main .banner .banner1>.btn2{
	width:180px;
	height:20px;
	position:absolute;
	bottom:20px;
	left:50%;
	margin-left: -120px;
	color:#fff;
	line-height: 20px;
	text-align: center;
}
.main .banner .banner1 .btn2>li{
	width:20px;
	height:20px;
	background: #666;
	float: left;
	margin-right: 10px;
	border-radius: 50%;
	cursor: pointer;
}
.main .banner .jdkb{
	width:248px;
	height:372px;
	border:1px solid #ccc;
	position: absolute;
	top:10px;
	right:70px;
	overflow: hidden;
}
.main .banner .jdkb .jdkb1{
	width:100%;
	height:32px;
	border-bottom: 1px dashed #ccc;
}
.main .banner .jdkb .jdkb1 span{
	display: inline-block;
	font-size: 16px;
	padding:5px 0 5px 10px;
}
.main .banner .jdkb .jdkb1 a{
	float: right;
	padding:6px 0;
	margin-right: 20px;
}
.main .banner .jdkb .jdkb2{
	width:233px;
	height:120px;
	padding:5px 0 0 15px;
}
.main .banner .jdkb .jdkb2 li a{
	font-size: 12px;
	line-height: 24px;
}
.main .banner .jdkb .jdkb2 li a h4{
	display: inline-block;
}
.main .banner .jdkb .jdkb3{
	width:260px;
	height: 214px;
}
.main .banner .jdkb .jdkb3 li{
	width:61.5px;
	height:70px;
	float:left;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: relative;
}
.main .banner .jdkb .jdkb3 li a{
	display: block;
	width:100%;
	height:60px;
	padding-top: 10px;
	text-align: center;
}
.main .banner .jdkb .jdkb3 li a i{
	display: block;
	width:27px;
	margin:auto;
}
.main .banner .jdkb .jdkb3 li a div{
	position:absolute;
	top:0;
	right:0;
}
.main .banner .jdkb4{
	width:250px;
	height:75px;
	background: url(../images/11.jpg) no-repeat;
	position:absolute;
	top:389px;
	right:70px;
}
.main .banner .ppsd{
	width:1210px;
	height:164px;
	position: absolute;
	bottom:-25px;
	left:70px;
}
.main .banner .ppsd .ppsd2{
	width:1000px;
	height:164px;
	overflow: hidden;
	position: absolute;
	bottom:0;
	left:210px;
}
.main .banner .ppsd .ppsd2 .ppsd3{
	width:6000px;
	position: absolute;
	left:0;
}
.main .banner .ppsd .ppsd2 .ppsd3 a{
	margin-right: -2px;
	font-size: 0;
}
.main .banner .ppsd .ppsd2 .btn1{
	width:100%;
	height:62px;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-31px;
	display: none;
	opacity: 0.7;
}
.main .btn_l1{
	width:28px;
	height:100%;
	background: #ccc;
	position: relative;
	float:left;
	cursor: pointer;
}
.main .btn_r1{
	width:28px;
	height:100%;
	background: #ccc;
	position: relative;
	float:right;
	cursor: pointer;
}
.main .btn_l1 .s1{
	width:0px;
	height:0px;
	border:15px solid transparent;
	border-right-color:#666;
	position:absolute;
	top:17px;
	right:7px;
}
.main .btn_l1 .s2{
	width:0;
	height:0;
	border:15px solid transparent;
	border-right-color:#ccc;
	position: absolute;
	right:2px;
	top:17px;
}
.main .btn_r1 .s1{
	width:0;
	height:0;
	border:15px solid transparent;
	border-left-color:#666;
	position:absolute;
	top:17px;
	left:7px;
}
.main .btn_r1 .s2{
	width:0;
	height:0;
	border:15px solid transparent;
	border-left-color:#ccc;
	position: absolute;
	left:2px;
	top:17px;
}
.main .zt1{
	width:370px;
	height:57px;
	margin: 40px auto 0 auto;
}
.main .z3t{
	width:1210px;
	height:210px;
	margin:0 auto;
}
.main .z3t a{
	display: block;
	margin:0;
	width:396px;
	float:left;
}
.main .z3t .z3t1{
	margin-right: 11px;
}
.main .box{
	width:1213px;
	height:355px;
	margin:0 auto;
	margin-top: 10px;
}
.main .box .box1{
	width:611px;
	height:353px;
	border:1px solid #ccc;
	float:left;
}
.main .box .box1 a{
	display: block;
	width:305px;
	float:left;
	font-size: 0;
}
.main .box .box1 .aaa1{
	border-right:1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.main .box .box1 .aaa2{
	border-bottom: 1px solid #ccc;
}
.main .box .box1 .aaa3{
	border-right:1px solid #ccc;
}
.main .box .box2{
	width:600px;
	height:355px;
	float:left;
}
.main .box .box2 li{
	width:149px;
	height:58px;
	float:left;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	position: relative;
}
.main .box .box2 .lia{
	border-bottom: 1px solid #ccc;
}
.main .box .box2 li div{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	background: #000;
	opacity:0.7;
	display: none;
}
.main .box .box2 li div a{
	display: block;
	height:100%;
	color:#fff;
	text-align: center;
	line-height: 20px;
}
.main .box .box2 li div a span{
	display: inline-block;
	padding-top:8px;
}
.main .box .box2 li:hover div{
	display: block;
}
.main .zt2{
	width:386px;
	height:51px;
	margin: 10px auto;
	background: url(../images/71.png) no-repeat 0 -52px;
}
.main .xpqx{
	width:1210px;
	height:450px;
	margin:0 auto;
}
.main .xpqx ul li{
	float:left;
}
.main .xpqx ul .lib{
	width:396px;
	height:210px;
	margin-top: 10px;
}
.main .xpqx ul .lib1{
	width:398px;
	height:220px;
	margin-left: 10px;
	margin-right: 10px;
}
.main .xpqx ul .lib2{
	width:193px;
	height:200px;
	margin-right: 10px;
	margin-top: 10px;
}
.main .xpqx ul .lib3{
	width:193px;
	margin-top: 10px;
	margin-left: 1px;
	height:200px;
}
.main .ht3{
	width:1200px;
	height:125px;
	margin:0 auto;
}
.main .ht3 a{
	display: block;
	width:400px;
	height:100%;
	font-size: 0;
	float:left;
}
/*第一层开始*/
.main .floor1{
	width:1210px;
	height:670px;
	margin:5px auto;
}
.main .floor1 .fzxb{
	width:100%;
	height:37px;
	border-bottom: 1px solid #c81623;
}
.main .floor1 .fzxb .fzxb1{
	width:160px;
	height:30px;
	float:left;
}
.main .floor1 .fzxb .fzxb1 .f1{
	width:31px;
	height:25px;
	background: url(../images/84.png) no-repeat 0 -35px;
	float:left;
	color:#fff;
	font-size: 14px;
	line-height: 30px;
}
.main .floor1 .fzxb .fzxb1 h2{
	float:left;
	padding-left: 10px;
	font-weight: 400;
	color:#333;
	font-size: 20px;
}
.main .floor1 .fzxb .table{
	width:620px;
	height:35px;
	float:right;
	border:1px solid #ededed;
	border-bottom: none;
}
.main .floor1 .fzxb .table li{
	float:left;
	display: inline;
	position: relative;
	height:34px;
}
.main .floor1 .fzxb .table li a{
	float:left;
	height:34px;
	line-height: 34px;
	padding:0 16px;
	background: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.main .floor1 .fzxb .table li span{
	position: absolute;
	width:1px;
	height:14px;
	top:10px;
	right:0;
	background: #ccc;
}
#lia{
	border-left: solid 1px #c81623;
	border-right: solid 1px #c81623;
	border-top: solid 2px #c81623;
	border-bottom: 1px solid #fff;
	line-height: 30px;
	height:34px;
}
.main .floor1 .fs{
	width:100%;
	height:633px;
	position: relative;
}
.main .floor1 .fs .fs1{
	width:330px;
	height:633px;
	float:left;
	position: relative;
}
.main .floor1 .fs .fs1 .a1{
	display: block;
	height:475px;
}
.main .floor1 .fs .fs1 .tab1{
	width:305px;
	height:92px;
	padding-left: 25px;
	position:absolute;
	top:254px;
	left:0;
	opacity: 0.7;
	background: rgba(255,255,255,.5);
}
.main .floor1 .fs .fs1 .tab1 li{
	width:100px;
	height:26px;
	float:left;
	padding:10px 0;
	line-height: 26px;
}
.main .floor1 .fs .fs1 .tab1 li a i{
	width: 26px;
	margin-right: 5px;
}
.main .floor1 .fs .fs1 .tab1 li a .icon1{
	background: url(../images/85.png) no-repeat 0 0;
}
.main .floor1 .fs .fs1 .tab1 li a .icon2{
	background: url(../images/85.png) no-repeat 0 -26px;
}
.main .floor1 .fs .fs1 .tab1 li a .icon3{
	background: url(../images/85.png) no-repeat 0 -52px;
}
.main .floor1 .fs .fs1 .tab1 li a .icon4{
	background: url(../images/85.png) no-repeat 0 -78px;
}
.main .floor1 .fs .fs1 .tab1 li a .icon5{
	background: url(../images/85.png) no-repeat 0 -104px;
}
.main .floor1 .fs .fs1 .tab1 li a .icon6{
	background: url(../images/85.png) no-repeat 0 -130px;
}
.main .floor1 .fs .fs1 .tab1 li a span{
	font-size: 14px;
}
.floor1  i{
	float:left;
	height:26px;
	line-height: 26px;
}
.main .floor1 .fs .fs1 .ysj{
	display: block;
	width:30px;
	height:30px;
	position:absolute;
	top:10px;
	right:10px;
	background: url(../images/86.png) no-repeat 0 0;
}
.main .floor1 .fs .fs1 .ysj1{
	display: block;
	width:30px;
	height:30px;
	position:absolute;
	bottom:120px;
	right:10px;
	background: url(../images/86.png) no-repeat 0 0;
	z-index: 2;
}
.main .floor1 .fs .tab2{
	width:100%;
	height:129px;
	position: absolute;
	top:346px;
	left:0;
	background: #EAEBF5;
}
.main .floor1 .fs .tab2 li{
	width:135px;
	height:96px;
	padding:16px 0 0 25px;
	float:left;
}
.main .floor1 .fs .tab2 li a{
	float:left;
	line-height: 24px;
	margin-right: 10px;
	color:#999;
}
.main .floor1 .fs .tab2 li a:hover{
	color:#C81623;
}
#bs{
	color:#C81623;
}
.main .floor1 .fs .fs1 .a2{
	display: block;
	height:158px;
	width:328px;
	border-left:1px solid #f7f5ee;
	border-right:1px solid #f7f5ee;
	border-bottom:1px solid #f7f5ee;
	position: absolute;
	top:475px;
}
.main .floor1 .fs .fs2{
	width:880px;
	height:633px;
	position:absolute;
	top:0;
	left:330px;
	background: #fff;
	display: none;
}
.main .floor1 .fs .fs2 .ul1{
	width:440px;
	height:100%;
	float:left;
}
.main .floor1 .fs .fs2 .ul1>li{
	border-bottom: 1px solid #EDEDED !important;
	border-right: 1px solid #EDEDED !important;
}
.main .floor1 .fs .fs2 .ul1>li>a{
	display: block;
	font-size: 0;
}
.main .floor1 .fs .fs2 .ul1 .zj{
	width:439px;
	height:315px;
	overflow: hidden;
	position: relative;
}
.main .floor1 .fs .fs2 .ul1 .zj .box{
	width:100%;
	height:100%;
	margin: 0;
}
.main .floor1 .fs .fs2 .ul1 .zj .box a{
	display: block;
	width:439px;
	font-size: 0;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.main .floor1 .fs .fs2 .ul1 .zj .btn3{
	width:100%;
	height:62px;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-31px;
	display: none;
	opacity: 0.7;
}
.main .floor1 .fs .fs2 .ul1 .zj .xyq{
	width:60px;
	height:9px;
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left: -30px;
}
.main .floor1 .fs .fs2 .ul1 .zj .xyq>div{
	width:9px;
	height:9px;
	border-radius: 50%;
	background: #3e3e3e;
	margin:0 3px;
	float:left;
}
.main .floor1 .fs .fs2 .ul2{
	width:440px;
	height:100%;
	float:left;
	position: relative;
}
.main .floor1 .fs .fs2 .ul2>li{
	float:left;
	width:219px;
	height:157px;
	border-right:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
}
.main .floor1 .fs .fs2 .ul2 .dt{
	height:316px;
}
.main .floor1 .fs .fs2 .ul2 .dt1{
	position: absolute;
	bottom: 0;
	left: 0;
}
.main .floor1 .fs .fs2 .ul3 li{
	width:185px;
	height:230.5px;
	padding:0 17px;
	padding-top:6px;
	float:left;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
}
.main .floor1 .fs .fs2 .ul3 li>a{
	display: block;
	width:130px;
	margin:0 auto;
	padding-top:15px;
}
.main .floor1 .fs .fs2 .ul3 li p{
	height:36px;
	width:185px;
	margin-bottom: 3px;
}
.main .floor1 .fs .fs2 .ul3 li span{
	font-size: 15px;
	font-family: Verdana;
	color: #E4393C;
}
.main .floor1 .fs .fs2 .ul3 .ddd{
	width: 219px;
	height:157px;
	padding:0;
	float:left;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
}
.main .floor1 .fs .fs2 .ul3 .ddd a{
	display: inline;
}
/*第一层结束*/
/*第二层开始*/
.main .floor2{
	width:1210px;
	height:513px;
	margin:0 auto;
}
.main .floor2 .fzxb{
	width:100%;
	height:37px;
	border-bottom: 1px solid #c81623;
}
.main .floor2 .fzxb .fzxb1{
	width:160px;
	height:30px;
	float:left;
}
.main .floor2 .fzxb .fzxb1 .f1{
	width:31px;
	height:25px;
	background: url(../images/84.png) no-repeat 0 -35px;
	float:left;
	color:#fff;
	font-size: 14px;
	line-height: 30px;
}
.main .floor2 .fzxb .fzxb1 h2{
	float:left;
	padding-left: 10px;
	font-weight: 400;
	color:#333;
	font-size: 20px;
}
.main .floor2 .fzxb .table{
	width:716px;
	height:35px;
	float:right;
	border:1px solid #ededed;
	border-bottom: none;
}
.main .floor2 .fzxb .table li{
	float:left;
	display: inline;
	position: relative;
	height:34px;
}
.main .floor2 .fzxb .table li a{
	float:left;
	height:34px;
	line-height: 34px;
	padding:0 16px;
	background: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.main .floor2 .fzxb .table li span{
	position: absolute;
	width:1px;
	height:14px;
	top:10px;
	right:0;
	background: #ccc;
}
#lia{
	border-left: solid 1px #c81623;
	border-right: solid 1px #c81623;
	border-top: solid 2px #c81623;
	border-bottom: 1px solid #fff;
	line-height: 30px;
	height:34px;
}
.main .floor2 .fs{
	width:100%;
	height:475px;
	position: relative;
}
.main .floor2 .fs .fs1{
	width:210px;
	height:475px;
	float:left;
	position: relative;
}
.main .floor2 .fs .fs1 .a1{
	display: block;
	height:475px;
}
.main .floor2 .fs .fs1 .tab1{
	width:210px;
	height:92px;
	padding-left: 10px;
	position:absolute;
	top:240px;
	left:0;
	opacity: 0.7;
	background: rgba(255,255,255,.5);
}
.main .floor2 .fs .fs1 .tab1 li{
	width:100px;
	height:26px;
	float:left;
	padding:10px 0;
	line-height: 26px;
}
.main .floor2 .fs .fs1 .tab1 li a i{
	width: 26px;
	margin-right: 5px;
}
.main .floor2 .fs .fs1 .tab1 li a .icon1{
	background: url(../images/88.png) no-repeat 0 0;
}
.main .floor2 .fs .fs1 .tab1 li a .icon2{
	background: url(../images/88.png) no-repeat 0 -26px;
}
.main .floor2 .fs .fs1 .tab1 li a .icon3{
	background: url(../images/88.png) no-repeat 0 -52px;
}
.main .floor2 .fs .fs1 .tab1 li a .icon4{
	background: url(../images/88.png) no-repeat 0 -78px;
}
.main .floor1 .fs .fs1 .tab1 li a span{
	font-size: 14px;
}
.floor2  i{
	float:left;
	height:26px;
	line-height: 26px;
}
.main .floor2 .fs .fs1 .ysj{
	display: block;
	width:30px;
	height:30px;
	position:absolute;
	top:10px;
	right:10px;
	background: url(../images/86.png) no-repeat 0 0;
}
.main .floor2 .fs .tab2{
	width:100%;
	height:48px;
	padding-top:21px;
	position: absolute;
	top:332px;
	left:0;
	background: #fff;
	opacity: 0.7;
	font-size: 14px;
}
.main .floor2 .fs .tab2 li{
	width:200px;
	height:24px;
	padding:0 0 0 25px;
	float:left;
}
.main .floor2 .fs .tab2 li a{
	float:left;
	line-height: 24px;
	margin-right: 10px;
	color:#999;
}
.main .floor2 .fs .tab2 li a:hover{
	color:#C81623;
}
.main .floor2 .fs .tab3{
	width:100%;
	height:67px;
	padding-top:7px;
	position: absolute;
	bottom:0;
	left:0;
	background: #fff;
	opacity: 0.7;
}
.main .floor2 .fs .tab3 li{
	height:24px;
	margin-right: 10px;
	float:left;
}
.main .floor2 .fs .tab3 .li8{
	margin-left: 25px;
}
.main .floor2 .fs .fs3{
	width:1000px;
	height:475px;
	position:absolute;
	top:0;
	left:210px;
	background: #fff;
	display: none;
}
.main .floor2 .fs .fs3 .box1{
	width:339px;
	height:473px;
	float:left;
	position: relative;
	overflow: hidden;
}
.main .floor2 .fs .fs3 .box1 .dd1{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.main .floor2 .fs .fs3 .box1 .dd1>a{
	display: block;
	font-size: 0;
	border-bottom: 1px solid #ccc;
}
.main .floor2 .fs .fs3 .box1 .dd1 .aa{
	border-bottom: 1px dotted #ccc;
}
.main .floor2 .fs .fs3 .box1 .btn4{
	width:100%;
	height:62px;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-31px;
	display: none;
	opacity: 0.7;
}
.main .floor2 .fs .fs3 .box1 .xyq1{
	width:60px;
	height:9px;
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left: -30px;
}
.main .floor2 .fs .fs3 .box1 .xyq1>div{
	width:9px;
	height:9px;
	border-radius: 50%;
	background: #3e3e3e;
	margin:0 3px;
	float:left;
}
.main .floor2 .fs .fs3 .ul1{
	width:660px;
	height:100%;
	float:left;
}
.main .floor2 .fs .fs3 .ul1>li{
	float:left;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.main .floor2 .fs .fs3 .ul1>li>a{
	display: block;
	font-size: 0;
}
.main .floor2 .fs .fs4{
	width:1000px;
	height:475px;
	position:absolute;
	top:0;
	left:210px;
	background: #fff;
}
.main .floor2 .fs .fs5{
	display: none;
}
.main .floor2 .fs .fs4>ul{
	width:100%;
	height:100%;
}
.main .floor2 .fs .fs4>ul li{
	width:165px;
	height:230px;
	padding:6px 17px 0;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float:left;
}
.main .floor2 .fs .fs4>ul li>a{
	display: block;
	width:130px;
	margin:0 auto;
	padding-top:15px;
}
.main .floor2 .fs .fs4>ul li p{
	height:36px;
	width:185px;
	margin-bottom: 3px;
}
.main .floor2 .fs .fs4>ul li span{
	font-size: 15px;
	font-family: Verdana;
	color: #E4393C;
}
/*第二层结束*/
/*第三层开始*/
.main .floor3{
	width:1210px;
	height:511px;
	margin:5px auto;
}
.main .floor3 .fzxb{
	width:100%;
	height:37px;
	border-bottom: 1px solid #c81623;
}
.main .floor3 .fzxb .fzxb1{
	width:160px;
	height:30px;
	float:left;
}
.main .floor3 .fzxb .fzxb1 .f1{
	width:31px;
	height:25px;
	background: url(../images/84.png) no-repeat 0 -35px;
	float:left;
	color:#fff;
	font-size: 14px;
	line-height: 30px;
}
.main .floor3 .fzxb .fzxb1 h2{
	float:left;
	padding-left: 10px;
	font-weight: 400;
	color:#333;
	font-size: 20px;
}
.main .floor3 .fzxb .table{
	width:586px;
	height:35px;
	float:right;
	border:1px solid #ededed;
	border-bottom: none;
}
.main .floor3 .fzxb .table li{
	float:left;
	display: inline;
	position: relative;
	height:34px;
}
.main .floor3 .fzxb .table li a{
	float:left;
	height:34px;
	line-height: 34px;
	padding:0 16px;
	background: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.main .floor3 .fzxb .table li span{
	position: absolute;
	width:1px;
	height:14px;
	top:10px;
	right:0;
	background: #ccc;
}
#lia{
	border-left: solid 1px #c81623;
	border-right: solid 1px #c81623;
	border-top: solid 2px #c81623;
	border-bottom: 1px solid #fff;
	line-height: 30px;
	height:34px;
}
.main .floor3 .fs{
	width:100%;
	height:475px;
	position: relative;
}
.main .floor3 .fs .fs1{
	width:330px;
	height:475px;
	float:left;
	position: relative;
}
.main .floor3 .fs .fs1 .a1{
	display: block;
	height:475px;
}
.main .floor3 .fs .fs1 .tab1{
	width:305px;
	height:46px;
	padding-left: 25px;
	position:absolute;
	top:239px;
	left:0;
	opacity: 0.7;
	background: rgba(255,255,255,.5);
}
.main .floor3 .fs .fs1 .tab1 li{
	width:100px;
	height:26px;
	float:left;
	padding:10px 0;
	line-height: 26px;
}
.main .floor3 .fs .fs1 .tab1 li a i{
	width: 26px;
	margin-right: 5px;
}
.main .floor3 .fs .fs1 .tab1 li a .icon1{
	background: url(../images/3l/1.png) no-repeat 0 0;
}
.main .floor3 .fs .fs1 .tab1 li a .icon2{
	background: url(../images/3l/1.png) no-repeat 0 -26px;
}
.main .floor3 .fs .fs1 .tab1 li a .icon3{
	background: url(../images/3l/1.png) no-repeat 0 -52px;
}
.main .floor3 .fs .fs1 .tab1 li a span{
	font-size: 14px;
}
.floor3  i{
	float:left;
	height:26px;
	line-height: 26px;
}
.main .floor3 .fs .fs1 .ysj{
	display: block;
	width:30px;
	height:30px;
	position:absolute;
	top:10px;
	right:10px;
	background: url(../images/86.png) no-repeat 0 0;
}
.main .floor3 .fs .fs1 .ysj1{
	display: block;
	width:30px;
	height:30px;
	position:absolute;
	bottom:120px;
	right:10px;
	background: url(../images/86.png) no-repeat 0 0;
	z-index: 2;
}
.main .floor3 .fs .tab2{
	width:100%;
	height:48px;
	padding-top:21px;
	position: absolute;
	top:285px;
	left:0;
	background: #EAEBF5;
}
.main .floor3 .fs .tab2 li{
	width:135px;
	height:24px;
	padding:0 0 0 25px;
	float:left;
	overflow: hidden;
}
.main .floor3 .fs .tab2 li a{
	float:left;
	line-height: 24px;
	margin-right: 10px;
	font-size: 14px;
	color:#999;
}
.main .floor3 .fs .tab2 li a:hover{
	color:#C81623;
}
.main .floor3 .fs .tab3{
	width:330px;
	height:122px;
	position: absolute;
	bottom: 0;
	left:0;
	background: #EAEBF5;
}
.main .floor3 .fs .tab3 li{
	width:135px;
	height:96px;
	padding:16px 0 0 25px;
	float:left;
}
.main .floor3 .fs .tab3 li a{
	float:left;
	line-height: 24px;
	margin-right: 10px;
	color:#999;
}
.main .floor3 .fs .tab3 li a:hover{
	color:#C81623;
}
.main .floor3 .fs .fs2{
	width:880px;
	height:474px;
	position:absolute;
	top:0;
	left:330px;
	background: #fff;
	display: none;
}
.main .floor3 .fs .fs2 .ul1{
	width:880px;
	height:237px;
	float:left;
}
.main .floor3 .fs .fs2 .ul1>li{
	border-bottom: 1px solid #EDEDED !important;
	border-right: 1px solid #EDEDED !important;
	float:left;
}
.main .floor3 .fs .fs2 .ul1>li>a{
	display: block;
	font-size: 0;
}
.main .floor3 .fs .fs2 .ul1 .zj{
	width:439px;
	height:236px;
	overflow: hidden;
	position: relative;
}
.main .floor3 .fs .fs2 .ul1 .zj .box{
	width:100%;
	height:100%;
	margin: 0;
}
.main .floor3 .fs .fs2 .ul1 .zj .box a{
	display: block;
	width:439px;
	font-size: 0;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.main .floor3 .fs .fs2 .ul1 .zj .btn4{
	width:100%;
	height:62px;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-31px;
	display: none;
	opacity: 0.7;
}
.main .floor3 .fs .fs2 .ul1 .zj .xyq{
	width:60px;
	height:9px;
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left: -30px;
}
.main .floor3 .fs .fs2 .ul1 .zj .xyq>div{
	width:9px;
	height:9px;
	border-radius: 50%;
	background: #3e3e3e;
	margin:0 3px;
	float:left;
}
.main .floor3 .fs .fs2 .ul2{
	width:880px;
	height:237px;
	float:left;
	position: relative;
}
.main .floor3 .fs .fs2 .ul2>li{
	float:left;
	width:219px;
	height:236px;
	border-right:1px solid #EDEDED;
	border-bottom:1px solid #EDEDED;
}
.main .floor3 .fs .fs2 .ul3 li{
	width:185px;
	height:230.5px;
	padding:0 17px;
	padding-top:6px;
	float:left;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
}
.main .floor3 .fs .fs2 .ul3 li>a{
	display: block;
	width:130px;
	margin:0 auto;
	padding-top:15px;
}
.main .floor3 .fs .fs2 .ul3 li p{
	height:36px;
	width:185px;
	margin-bottom: 3px;
}
.main .floor3 .fs .fs2 .ul3 li span{
	font-size: 15px;
	font-family: Verdana;
	color: #E4393C;
}
.main .floor3 .fs .fs2 .ul3 .ddd{
	width: 219px;
	height:157px;
	padding:0;
	float:left;
	border-right:1px solid #ededed;
	border-bottom:1px solid #ededed;
}
/*第三层结束*/
/*第六层开始*/
.main .floor6{
	width:1210px;
	height:513px;
	margin:0 auto;
}
.main .floor6 .fzxb{
	width:100%;
	height:37px;
	border-bottom: 1px solid #c81623;
}
.main .floor6 .fzxb .fzxb1{
	width:160px;
	height:30px;
	float:left;
}
.main .floor6 .fzxb .fzxb1 .f1{
	width:31px;
	height:25px;
	background: url(../images/84.png) no-repeat 0 -35px;
	float:left;
	color:#fff;
	font-size: 14px;
	line-height: 30px;
}
.main .floor6 .fzxb .fzxb1 h2{
	float:left;
	padding-left: 10px;
	font-weight: 400;
	color:#333;
	font-size: 20px;
}
.main .floor6 .fzxb .table{
	width:552px;
	height:35px;
	float:right;
	border:1px solid #ededed;
	border-bottom: none;
}
.main .floor6 .fzxb .table li{
	float:left;
	display: inline;
	position: relative;
	height:34px;
}
.main .floor6 .fzxb .table li a{
	float:left;
	height:34px;
	line-height: 34px;
	padding:0 16px;
	background: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.main .floor6 .fzxb .table li span{
	position: absolute;
	width:1px;
	height:14px;
	top:10px;
	right:0;
	background: #ccc;
}
#lia{
	border-left: solid 1px #c81623;
	border-right: solid 1px #c81623;
	border-top: solid 2px #c81623;
	border-bottom: 1px solid #fff;
	line-height: 30px;
	height:34px;
}
.main .floor6 .fs{
	width:100%;
	height:475px;
	position: relative;
}
.main .floor6 .fs .fs1{
	width:210px;
	height:475px;
	float:left;
	position: relative;
}
.main .floor6 .fs .fs1 .a1{
	display: block;
	height:475px;
}
.main .floor6 .fs .fs1 .tab1{
	width:210px;
	height:92px;
	padding-left: 10px;
	position:absolute;
	top:240px;
	left:0;
	opacity: 0.7;
	background: rgba(255,255,255,.5);
}
.main .floor6 .fs .fs1 .tab1 li{
	width:100px;
	height:26px;
	float:left;
	padding:10px 0;
	line-height: 26px;
}
.main .floor6 .fs .fs1 .tab1 li a i{
	width: 26px;
	margin-right: 5px;
}
.main .floor6 .fs .fs1 .tab1 li a .icon1{
	background: url(../images/6l/1.png) no-repeat 0 0;
}
.main .floor6 .fs .fs1 .tab1 li a .icon2{
	background: url(../images/6l/1.png) no-repeat 0 -26px;
}
.main .floor6 .fs .fs1 .tab1 li a .icon3{
	background: url(../images/6l/1.png) no-repeat 0 -52px;
}
.main .floor6 .fs .fs1 .tab1 li a .icon4{
	background: url(../images/6l/1.png) no-repeat 0 -78px;
}
.main .floor6 .fs .fs1 .tab1 li a span{
	font-size: 14px;
}
.floor6  i{
	float:left;
	height:26px;
	line-height: 26px;
}
.main .floor6 .fs .fs1 .ysj{
	display: block;
	width:30px;
	height:30px;
	position:absolute;
	top:10px;
	right:10px;
	background: url(../images/86.png) no-repeat 0 0;
}
.main .floor6 .fs .tab2{
	width:100%;
	height:48px;
	padding-top:21px;
	position: absolute;
	top:332px;
	left:0;
	background: #fff;
	opacity: 0.7;
	font-size: 14px;
}
.main .floor6 .fs .tab2 li{
	width:200px;
	height:24px;
	padding:0 0 0 25px;
	float:left;
}
.main .floor6 .fs .tab2 li a{
	float:left;
	line-height: 24px;
	margin-right: 10px;
	color:#000;
}
.main .floor6 .fs .tab2 li a:hover{
	color:#C81623;
}
.main .floor6 .fs .tab3{
	width:100%;
	height:67px;
	padding-top:7px;
	position: absolute;
	bottom:0;
	left:0;
	background: #fff;
	opacity: 0.7;
}
.main .floor6 .fs .tab3 li{
	height:24px;
	margin-right: 10px;
	float:left;
}
.main .floor6 .fs .tab3 .li8{
	margin-left: 25px;
}
.main .floor6 .fs .fs3{
	width:1000px;
	height:475px;
	position:absolute;
	top:0;
	left:210px;
	background: #fff;
	/*display: none;*/
}
.main .floor6 .fs .fs3 .ul0{
	width:219px;
	height:100%;
	float:left;
}
.main .floor6 .fs .fs3 .ul0 li{
	width:219px;
	height:236px;
	border-bottom: 1px solid #ccc;
}
.main .floor6 .fs .fs3 .box5{
	width:339px;
	height:473px;
	float:left;
	position: relative;
	overflow: hidden;
}
.main .floor6 .fs .fs3 .box5 .dd2{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.main .floor6 .fs .fs3 .box5 .dd2>a{
	display: block;
	font-size: 0;
	border-bottom: 1px solid #ccc;
}
.main .floor6 .fs .fs3 .box5 .dd2 .aa{
	border-bottom: 1px dotted #ccc;
}
.main .floor6 .fs .fs3 .box5 .btn6{
	width:100%;
	height:62px;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-31px;
	/*display: none;*/
	opacity: 0.7;
}
.main .floor6 .fs .fs3 .box5 .xyq1{
	width:60px;
	height:9px;
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left: -30px;
}
.main .floor6 .fs .fs3 .box5 .xyq1>div{
	width:9px;
	height:9px;
	border-radius: 50%;
	background: #3e3e3e;
	margin:0 3px;
	float:left;
}
.main .floor6 .fs .fs3 .ul1{
	width:440px;
	height:100%;
	float:left;
}
.main .floor6 .fs .fs3 .ul1>li{
	float:left;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.main .floor6 .fs .fs3 .ul1>li>a{
	display: block;
	font-size: 0;
}
.main .floor6 .fs .fs4{
	width:1000px;
	height:475px;
	position:absolute;
	top:0;
	left:210px;
	background: #fff;
}
.main .floor6 .fs .fs5{
	display: none;
}
.main .floor6 .fs .fs4>ul{
	width:100%;
	height:100%;
}
.main .floor6 .fs .fs4>ul li{
	width:165px;
	height:230px;
	padding:6px 17px 0;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float:left;
}
.main .floor6 .fs .fs4>ul li>a{
	display: block;
	width:130px;
	margin:0 auto;
	padding-top:15px;
}
.main .floor6 .fs .fs4>ul li p{
	height:36px;
	width:185px;
	margin-bottom: 3px;
}
.main .floor6 .fs .fs4>ul li span{
	font-size: 15px;
	font-family: Verdana;
	color: #E4393C;
}
/*第六层结束*/
.main .zzz{
	width:1210px;
	height:66px;
	margin:10px auto;
}
/*第十层开始*/
.main .floor10{
	width:1210px;
	height:513px;
	margin:0 auto;
}
.main .floor10 .fzxb{
	width:100%;
	height:37px;
	border-bottom: 1px solid #c81623;
}
.main .floor10 .fzxb .fzxb1{
	width:160px;
	height:30px;
	float:left;
}
.main .floor10 .fzxb .fzxb1 .f1{
	width:31px;
	height:25px;
	background: url(../images/84.png) no-repeat 0 -35px;
	float:left;
	color:#fff;
	font-size: 14px;
	line-height: 30px;
}
.main .floor10 .fzxb .fzxb1 h2{
	float:left;
	padding-left: 10px;
	font-weight: 400;
	color:#333;
	font-size: 20px;
}
.main .floor10 .fzxb .table{
	width:680px;
	height:35px;
	float:right;
	border:1px solid #ededed;
	border-bottom: none;
}
.main .floor10 .fzxb .table li{
	float:left;
	display: inline;
	position: relative;
	height:34px;
}
.main .floor10 .fzxb .table li a{
	float:left;
	height:34px;
	line-height: 34px;
	padding:0 16px;
	background: #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.main .floor10 .fzxb .table li span{
	position: absolute;
	width:1px;
	height:14px;
	top:10px;
	right:0;
	background: #ccc;
}
.main .floor10 .fs{
	width:100%;
	height:475px;
	position: relative;
}
.main .floor10 .fs .fs1{
	width:210px;
	height:475px;
	float:left;
	position: relative;
}
.main .floor10 .fs .fs1 .a1{
	display: block;
	height:475px;
}
.main .floor10 .fs .fs1 .tab1{
	width:210px;
	height:92px;
	padding-left: 10px;
	position:absolute;
	top:240px;
	left:0;
	opacity: 0.7;
	background: rgba(255,255,255,.5);
}
.main .floor10 .fs .fs1 .tab1 li{
	width:100px;
	height:26px;
	float:left;
	padding:10px 0;
	line-height: 26px;
}
.main .floor10 .fs .fs1 .tab1 li a i{
	width: 26px;
	margin-right: 5px;
}
.main .floor10 .fs .fs1 .tab1 li a .icon1{
	background: url(../images/10l/1.png) no-repeat 0 0;
}
.main .floor10 .fs .fs1 .tab1 li a .icon2{
	background: url(../images/10l/1.png) no-repeat 0 -26px;
}
.main .floor10 .fs .fs1 .tab1 li a .icon3{
	background: url(../images/10l/1.png) no-repeat 0 -52px;
}
.main .floor10 .fs .fs1 .tab1 li a .icon4{
	background: url(../images/10l/1.png) no-repeat 0 -78px;
}
.main .floor10 .fs .fs1 .tab1 li a span{
	font-size: 14px;
}
.floor10  i{
	float:left;
	height:26px;
	line-height: 26px;
}
.main .floor10 .fs .fs1 .ysj{
	display: block;
	width:30px;
	height:30px;
	position:absolute;
	top:10px;
	right:10px;
	background: url(../images/86.png) no-repeat 0 0;
}
.main .floor10 .fs .tab2{
	width:100%;
	height:48px;
	padding-top:21px;
	position: absolute;
	top:332px;
	left:0;
	background: #fff;
	opacity: 0.7;
	font-size: 14px;
}
.main .floor10 .fs .tab2 li{
	width:200px;
	height:24px;
	padding:0 0 0 25px;
	float:left;
}
.main .floor10 .fs .tab2 li a{
	float:left;
	line-height: 24px;
	margin-right: 10px;
	color:#000;
}
.main .floor10 .fs .tab2 li a:hover{
	color:#C81623;
}
.main .floor10 .fs .tab3{
	width:100%;
	height:67px;
	padding-top:7px;
	position: absolute;
	bottom:0;
	left:0;
	background: #fff;
	opacity: 0.7;
}
.main .floor10 .fs .tab3 li{
	height:24px;
	margin-right: 10px;
	float:left;
}
.main .floor10 .fs .tab3 .li8{
	margin-left: 25px;
}
.main .floor10 .fs .fs3{
	width:1000px;
	height:475px;
	position:absolute;
	top:0;
	left:210px;
	background: #fff;
	/*display: none;*/
}
.main .floor10 .fs .fs3 .ul0{
	width:220px;
	height:100%;
	float:left;
}
.main .floor10 .fs .fs3 .ul0 li{
	width:219px;
	height:236px;
	border-bottom: 1px solid #ccc;
}
.main .floor10 .fs .fs3 .box5{
	width:439px;
	height:236px;
	float:left;
	position: relative;
	overflow: hidden;
}
.main .floor10 .fs .fs3 .box5 .dd2{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.main .floor10 .fs .fs3 .box5 .dd2>a{
	display: block;
	font-size: 0;
	border-bottom: 1px solid #ccc;
}
.main .floor10 .fs .fs3 .box5 .dd2 .aa{
	border-bottom: 1px dotted #ccc;
}
.main .floor10 .fs .fs3 .box5 .btn6{
	width:100%;
	height:62px;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-31px;
	/*display: none;*/
	opacity: 0.7;
}
.main .floor10 .fs .fs3 .box5 .xyq1{
	width:60px;
	height:9px;
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left: -30px;
}
.main .floor10 .fs .fs3 .box5 .xyq1>div{
	width:9px;
	height:9px;
	border-radius: 50%;
	background: #3e3e3e;
	margin:0 3px;
	float:left;
}
.main .floor10 .fs .fs3 .ul1{
	width:440px;
	height:100%;
	float:left;
}
.main .floor10 .fs .fs3 .ul0 .aaa{
	border-right: 1px solid #ccc;
}
.main .floor10 .fs .fs3 .ul1>li{
	float:left;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.main .floor10 .fs .fs3 .ul1>li>a{
	display: block;
	font-size: 0;
}
.main .floor10 .fs .fs3 .fs3_r{
	width:339px;
	height:473px;
	position:absolute;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	top:0;
	right:0;
}
.main .floor10 .fs .fs3 .fs3_r h3{
	margin: 0 15px 0 10px;
	padding-left: 5px;
	padding-bottom: 10px;
	padding-top: 13px;
	font-size: 20px;
	line-height: 23px;
	border-bottom: 1px solid #e4e4e4;
	font-weight: 400;
}
.main .floor10 .fs .fs3 .fs3_r .qqq{
	width:342px;
	height:426px;
	padding-left: 15px;
}
.main .floor10 .fs .fs3 .fs3_r .qqq>li{
	width:324px;
	height:80px;
	margin-top: 20px;
}
.main .floor10 .fs .fs3 .fs3_r .qqq>li div{
	float:left;
}
.main .floor10 .fs .fs3 .fs3_r .qqq>li .qqq_l{
	width:48px;
	padding:2px 15px 0 4px;
	text-align: center;
	border-right:1px dotted #ccc;
}
.main .floor10 .fs .fs3 .fs3_r .qqq>li .qqq_l img{
	width:48px;
	height:48px;
	border-radius: 50%;
	margin-bottom: 6px;
}
.main .floor10 .fs .fs3 .fs3_r .qqq>li .qqq_c img{
	width:80px;
	height:80px;
}
.main .floor10 .fs .fs3 .fs3_r .qqq>li .qqq_r{
	width:160px;
	height:77px;
}
.main .floor10 .fs .fs3 .fs3_r .qqq>li .qqq_r a{
	font-size: 14px;
}
.main .floor10 .fs .fs3 .fs3_r .qqq>li .qqq_r p{
	width:115px;
	height:34px;
	padding:10px 15px 10px 20px;
	background: #eee;
}
.main .floor10 .fs .fs4{
	width:1000px;
	height:475px;
	position:absolute;
	top:0;
	left:210px;
	background: #fff;
}
.main .floor10 .fs .fs5{
	display: none;
}
.main .floor10 .fs .fs4>ul{
	width:100%;
	height:100%;
}
.main .floor10 .fs .fs4>ul li{
	width:165px;
	height:230px;
	padding:6px 17px 0;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	float:left;
}
.main .floor10 .fs .fs4>ul li>a{
	display: block;
	width:130px;
	margin:0 auto;
	padding-top:15px;
}
.main .floor10 .fs .fs4>ul li p{
	height:36px;
	width:185px;
	margin-bottom: 3px;
}
.main .floor10 .fs .fs4>ul li span{
	font-size: 15px;
	font-family: Verdana;
	color: #E4393C;
}
/*第十层结束*/
/*第12层开始*/
.main .floor12{
	width:1210px;
	height:513px;
	margin:0 auto;
}
.main .floor12 .fzxb{
	width:100%;
	height:37px;
	border-bottom: 1px solid #c81623;
}
.main .floor12 .fzxb .fzxb1{
	width:160px;
	height:30px;
	float:left;
}
.main .floor12 .fzxb .fzxb1 .f1{
	width:31px;
	height:25px;
	background: url(../images/84.png) no-repeat 0 -35px;
	float:left;
	color:#fff;
	font-size: 14px;
	line-height: 30px;
}
.main .floor12 .fzxb .fzxb1 h2{
	float:left;
	padding-left: 10px;
	font-weight: 400;
	color:#333;
	font-size: 20px;
}
#lia{
	border-left: solid 1px #c81623;
	border-right: solid 1px #c81623;
	border-top: solid 2px #c81623;
	border-bottom: 1px solid #fff;
	line-height: 30px;
	height:34px;
}
.main .floor12 .fs{
	width:100%;
	height:475px;
	position: relative;
}
.main .floor12 .fs .fs1{
	width:50%;
	height:475px;
	float:left;
	position: relative;
}
.main .floor12 .fs .fs1 .a1{
	display: block;
	width:210px;
	height:475px;
}
.main .floor12 .fs .fs1 .tab1{
	width:200px;
	height:92px;
	padding-left: 10px;
	position:absolute;
	top:240px;
	left:0;
	opacity: 0.7;
	background: rgba(255,255,255,.5);
}
.main .floor12 .fs .fs1 .tab1 li{
	width:170px;
	height:26px;
	float:left;
	padding:10px 0 10px 15px;
	line-height: 26px;
}
.main .floor12 .fs .fs1 .tab1 li a i{
	width: 26px;
	margin-right: 5px;
}
.main .floor12 .fs .fs1 .tab1 li a .icon1{
	background: url(../images/6l/1.png) no-repeat 0 0;
}
.main .floor12 .fs .fs1 .tab1 li a .icon2{
	background: url(../images/6l/1.png) no-repeat 0 -26px;
}
.main .floor12 .fs .fs1 .tab1 li a .icon3{
	background: url(../images/6l/1.png) no-repeat 0 -52px;
}
.main .floor12 .fs .fs1 .tab1 li a .icon4{
	background: url(../images/6l/1.png) no-repeat 0 -78px;
}
.main .floor12 .fs .fs1 .tab1 li a span{
	font-size: 14px;
}
.floor12 i{
	float:left;
	height:26px;
	line-height: 26px;
}
.main .floor12 .fs .fs1 .ysj{
	display: block;
	width:30px;
	height:30px;
	position:absolute;
	top:10px;
	right:10px;
	background: url(../images/86.png) no-repeat 0 0;
}
.main .floor12 .fs .tab2{
	width:210px;
	height:48px;
	padding-top:21px;
	position: absolute;
	top:332px;
	left:0;
	background: #fff;
	opacity: 0.7;
	font-size: 14px;
}
.main .floor12 .fs .tab2 li{
	width:200px;
	height:24px;
	padding:0 0 0 25px;
	float:left;
}
.main .floor12 .fs .tab2 li a{
	float:left;
	line-height: 24px;
	margin-right: 10px;
	color:#000;
}
.main .floor12 .fs .tab2 li a:hover{
	color:#C81623;
}
.main .floor12 .fs .tab3{
	width:210px;
	height:67px;
	padding-top:7px;
	position: absolute;
	bottom:0;
	left:0;
	background: #fff;
	opacity: 0.7;
}
.main .floor12 .fs .tab3 li{
	height:24px;
	margin-right: 10px;
	float:left;
}
.main .floor12 .fs .tab3 .li8{
	margin-left: 25px;
}
.main .floor12 .fs .fs1 .box5{
	width:395px;
	height:237px;
	float:left;
	position: absolute;
	top:0;
	right:0;
	overflow: hidden;
}
.main .floor12 .fs .fs1 .box5 .dd2{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
}
.main .floor12 .fs .fs1 .box5 .dd2>a{
	display: block;
	font-size: 0;
	border-bottom: 1px solid #ccc;
}
.main .floor12 .fs .fs1 .box5 .dd2 .aa{
	border-bottom: 1px dotted #ccc;
}
.main .floor12 .fs .fs1 .box5 .btn6{
	width:100%;
	height:62px;
	position: absolute;
	top:50%;
	left:0;
	margin-top:-31px;
	display: none;
	opacity: 0.7;
}
.main .floor12 .fs .fs1 .box5 .xyq1{
	width:60px;
	height:9px;
	position:absolute;
	bottom:10px;
	left:50%;
	margin-left: -30px;
}
.main .floor12 .fs .fs1 .box5 .xyq1>div{
	width:9px;
	height:9px;
	border-radius: 50%;
	background: #3e3e3e;
	margin:0 3px;
	float:left;
}
.main .floor12 .fs .fs1 .ul1{
	width:395px;
	height:236px;
	position: absolute;
	right:0;
	bottom: 0;
}
.main .floor12 .fs .fs1 .ul1>li{
	float:left;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.main .floor12 .fs .fs1 .ul1>li>a{
	display: block;
	font-size: 0;
}
/*第12层结束*/
/*天天低价开始*/
.main .ttdj{
	width:1210px;
	height:339px;
	margin:5px auto;
}
.main .ttdj .ttdj1{
	width:900px;
	height:319px;
	margin-bottom: 20px;
	float:left;
}
.main .ttdj .tit{
	width:100%;
	height:36px;
	font-size: 14px;
	line-height: 36px;
}
.main .ttdj .tit h2{
	font-weight: 400;
}
.main .ttdj .ttdj1 .tit1{
	width:899px;
	height:281px;
	border:1px solid #ccc;
	border-right:none;
}
.main .ttdj .ttdj1 .tit1 ul{
	width:900px;
	height:100%;
}
.main .ttdj .ttdj1 .tit1 ul>li{
	width:199px;
	height:104px;
	padding:18px 10px;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	float:left;
}
.main .ttdj .ttdj1 .tit1 ul .ttt{
	width:219px;
	height:245px;
	padding:18px 10px;
}
.main .ttdj .ttdj1 .tit1 ul .ttt .ttt1{
	width:219px;
	height:180px;
	margin-bottom: 10px;
	text-align: center;
}
.main .ttdj .ttdj1 .tit1 ul .ttt .ttt1 img{
	width:160px;
	height:160px;
	margin-left:0;
}
.main .ttdj .ttdj1 .tit1 ul .ttt .ttt2{
	width:200px;
	height:47px;
}
.main .ttdj .ttdj1 .tit1 ul>li .xxx1{
	width:100px;
	height:100px;
	float: left;
}
.main .ttdj .ttdj1 .tit1 ul>li .xxx2{
	width:94px;
	height:65px;
	float:left;
}
.main .ttdj .ttdj1 .tit1 ul>li span{
	font-size: 16px;
	font-weight: 700;
	color: #e12228;
}
.main .ttdj .ttdj2{
	width:310px;
	height:319px;
	margin-bottom: 20px;
	float:left;
}
.main .ttdj .ttdj2 .zzz1{
	width:268px;
	height:226px;
	padding:35px 20px 20px;
	border:1px solid #ccc;
}
.main .ttdj .ttdj2 .zzz1 .zzz0{
	width:268px;
	height:240px;
	position: relative;
	overflow: hidden;
}
.main .ttdj .ttdj2 .zzz1 ul{
	width:266px;
	height:960px;
	position: absolute;
	top:-720px;
	left:0;
}
.main .ttdj .ttdj2 .zzz1 ul li{
	width:266px;
	height:100px;
	margin-bottom: 20px;
}
.main .ttdj .ttdj2 .zzz1 ul li .zzz3{
	width:80px;
	height:80px;
	padding:10px 0;
	float:left;
}
.main .ttdj .ttdj2 .zzz1 ul li .zzz3 img{
	width:80px;
	height:80px;
}
.main .ttdj .ttdj2 .zzz1 ul li .zzz4{
	width:166px;
	height:87px;
	padding-left:20px;
	padding-top:3px;
	float:left;
}
/*天天低价结束*/
/*底部开始*/
.footer{
	width:100%;
	height:457px;
}
.footer .dkhs{
	width:100%;
	height:54px;
	padding:20px 0;
	margin-bottom: 14px;
	background: #F5F5F5;
}
.footer .dkhs .dkhs1{
	width:1210px;
	margin:0 auto;
}
.footer .dkhs .dkhs1 div{
	width:220px;
	height:54px;
	float:left;
	margin-right: 110px;
}
.footer .dkhs .dkhs1 .dkhs2{
	margin-right: 0px;
}
.footer .foot{
	width:1210px;
	height:168px;
	margin:0 auto;
}
.footer .foot ul{
	width:199px;
	height:100%;
	float:left;
}
.footer .foot .foot5{
	width:100px;
	height:100%;
}
.footer .foot ul li{
	width:100%;
	height:20px;
}
.footer .foot ul .foot0{
	height:24px;
	padding:6px 0;
}
.footer .foot .foot6{
	width:210px;
	height:168px;
	float:left;
	padding:0 50px;
	background: url(../images/77.png) no-repeat 0 -130px;
}
.footer .foot .foot6 h3{
	padding:6px 0;
}
.footer .foot .foot6 p{
	width:190px;
	height:54px;
	line-height: 18px;
	margin-top: 16px;
}
.footer .foot .foot6 a{
	margin-left: 130px;
	margin-top: 10px;
}
.footer .about{
	width:1210px;
	height:144px;
	padding:20px 0 30px;
	margin:0 auto;
}
.footer .about .about1{
	width:810px;
	margin:0 auto;
}
.footer .about .about1 li{
	float:left;
	padding:0 5px;
}
.footer .about .about2{
	width:100%;
	height:74px;
	margin:10px auto;
	text-align: center;
	line-height: 20px;
}
.footer .about .about3{
	text-align: center;
	padding-top: 10px;
}
.footer .about .about3 a{
	margin-right:10px;
}
/*w尾部结束*/
/*左导航开始*/
.nav_l{
	width:30px;
	height:348px;
	position: fixed;
	left:35px;
	bottom:150px;
}
.nav_l ul li{
	width:30px;
	height:30px;
	background: url(../images/89.png) no-repeat;
	position: relative;
}
.nav_l ul li a{
	display: block;
	width:30px;
	height:30px;
	position: absolute;
	top:0;
	left:0;
	line-height: 30px;
	text-align: center;
}
.nav_l ul .fffs{
	background: none;
}
.nav_l ul li .nav_fl{
	color:#625351;
	font-size:14px;
}
.nav_l ul li .nav_fs{
	color:#fff;
	background: #C81623;
	display: none;
}
/*左导航结束*/
.llllb{
	width:100%;
	height:98px;
	position: fixed;
	bottom:0;
	left:0;
	display: none;
}
.llllb .llllb1{
	font-size: 0;
	width:70px;
	height:100%;
	background: url(../images/90.png) no-repeat -40px 0;
	position:absolute;
	bottom:17px;
	left:5px;
}
.llllb .llllb2{
	width:1210px;
	height:100px;
	margin:0 auto;
	margin-top: -1px;
	display: none;
}
.llllb .llllb2 .ooo{
	width:1070px;
	height:99px;
	border-left: 1px solid #9E0D3D;
	float:left;
}
.llllb .llllb2 .ooo li{
	width:106px;
	height:32px;
	border-bottom: 1px solid #9E0D3D;
	border-right: 1px solid #9E0D3D;
	line-height: 32px;
	float:left;
}
.llllb .llllb2 .ooo li:hover{
	background: #FCE535;
}
.llllb .llllb2 .ooo li:hover a{
	color:#EF194A;
}
.llllb .llllb2 .ooo li:hover i{
	background-position:0 0;
}
.llllb .llllb2 .ooo li a{
	color:#fff;
	padding:10px;
}
.llllb .llllb2 .ooo li i{
	display: block;
	width:4px;
	height:6px;
	background: url(../images/93.png) no-repeat 0 -22px;
	float:right;
	margin-top:12px;
	margin-right: 10px;
}
.llllb .llllb2 .ooo1{
	width:139px;
	height:100%;
	float:left;
	position: relative;
}
.llllb .llllb2 .ooo1 .ooo2{
	width:72px;
	height:79px;
	padding-top: 10px;
	padding-left:15px;
}
.llllb .llllb2 .ooo1 .ooo3{
	width:20px;
	height:20px;
	background: url(../images/93.png) no-repeat -14px 0;
	position: absolute;
	top:10px;
	right:5px;
	cursor:pointer;
}
.right_n_t{
	width:37px;
	height:150px;
	position: fixed;
	top:0;
	right:0;
}
.right_n_t a{
	display: block;
	font-size: 0;
	height:100%;
	background: url(../images/90.png) no-repeat 0 0;
}
.right_r{
	width:6px;
	height:600px;
	position: fixed;
	top:105px;
	right:0;
	background-color: #7a6e6e;
}
.right_n_c{
	width:35px;
	height:236px;
	position: fixed;
	top:50%;
	right:0;
	margin-top: -100px;
}
.right_n_c>div{
	width:35px;
	height:35px;
	margin-bottom: 1px;
	cursor: pointer;
	background-color: #7a6e6e;
	position: relative;
	border-radius: 2px;
	z-index: 2;
}
.right_n_c div a{
	display: block;
	width:35px;
	height:35px;
	background-color: #7a6e6e;
	background: url(../images/83.png) no-repeat;
	position: absolute;
	top:0;
	left:0;
	z-index:8;
}
.right_n_c div:hover a{
	background-color: #c81623;
}
.right_n_c div i{
	display: block;
	width:5px;
	height:5px;
	background: url(../images/83.png) no-repeat -150px -150px;
	position: absolute;
	top:9px;
	left:17px;
	z-index: 13;
}
.right_n_c .right_nn:hover i{
	display: none;
}
.right_n_c div .right_n1{
	background-position: -88px -174px;
}
.right_n_c div .right_n2{
	background-position: -50px -0px;
}
.right_n_c div .right_n3{
	background-position: -50px -50px;
}
.right_n_c div .right_n4{
	background-position: -50px -100px;
}
.right_n_c div .right_n5{
	background-position: -190px -150px;
}
.right_n_c div .right_n6{
	background-position: -50px -150px;
}
.right_n_c div .right_a1{
	width:62px;
	height:35px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	position: absolute;
	left: 35px;
	top: 0;
	background-color: #7a6e6e;
	border-radius: 2px;
	z-index: 1;
}
.right_n_b{
	width:35px;
	height:71px;
	position: fixed;
	bottom: 0;
	right:0;
}
.right_n_b>div{
	width:35px;
	height:35px;
	margin-bottom: 1px;
	cursor: pointer;
	background-color: #7a6e6e;
	position: relative;
	border-radius: 2px;
	z-index: 2;
}
.right_n_b div a{
	display: block;
	width:35px;
	height:35px;
	background: url(../images/83.png) no-repeat;
	position: absolute;
	top:0;
	left:0;
	z-index: 2;
	background-color: #7a6e6e;
}
.right_n_b div:hover a{
	background-color: #c81623;
}
.right_n_b div .right_n7{
	background-position: -50px -250px;
}
.right_n_b div .right_n8{
	background-position: -50px -300px;
}
.right_n_b div .right_a2{
	width:62px;
	height:35px;
	line-height: 35px;
	color: #fff;
	text-align: center;
	position: absolute;
	left: 35px;
	top: 0;
	background-color: #7a6e6e;
	border-radius: 2px;
	z-index: 1;
}